<img *ngIf="!coupons" src = "assets/images/Loading_Infinity.gif">

<div *ngIf="coupons" class="wrapper">
  <div class="headcomp" *ngIf="!isCustomer">
  <table class="comptable">
    <tr>
      <td>
        <form>
          <label for="couponType" class="formLabel">Category</label><br>
          <select [(ngModel)]="couponType" class="forminput" id="coupon_type" name="couponType">
            <option value="ALL" selected>All</option>
            <option value="AUTOMOBILE">Automobile</option>
            <option value="CAMPING">Camping</option>
            <option value="COMPUTER">Computer</option>
            <option value="ELECTRICITY">Electricity</option>
            <option value="FASHION">Fashion</option>
            <option value="FOOD">Food</option>
            <option value="HEALTH">Health</option>
            <option value="MUSIC">Music</option>
            <option value="RESTURANT">Resturant</option>
            <option value="SPA">Spa</option>
            <option value="SPORT">Sport</option>
            <option value="TRAVELING">Traveling</option>
          </select>
        </form>
      </td>
      <td>
        <form>
          <label for="price" class="formLabel">Max Price</label><br><input type="number" class="forminput" [(ngModel)]="price" name="price" placeholder="100">
        </form>
      </td>
      <td>
        <form>
          <label for="date" class="formLabel">End Date</label><br><input type="date" class="forminput" [(ngModel)]="endDate" name="endDate">
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <button class="searchbutton" (click)="searchByType()">Search</button>
      </td>
      <td>
        <button class="searchbutton" (click)="searchByPrice()">Search</button>
      </td>
      <td>
        <button class="searchbutton" (click)="searchByEndDate()">Search</button>
      </td>
    </tr>
  </table>
  </div>
  <div class="headcust" *ngIf="isCustomer">
    <table class="custtable">
      <tr>
        <td>
          <form>
            <label for="couponType" class="formLabel">Category</label><br>
            <select [(ngModel)]="couponType" class="forminput" id="coupon_type" name="couponType">
              <option value="ALL" selected>All</option>
              <option value="AUTOMOBILE">Automobile</option>
              <option value="CAMPING">Camping</option>
              <option value="COMPUTER">Computer</option>
              <option value="ELECTRICITY">Electricity</option>
              <option value="FASHION">Fashion</option>
              <option value="FOOD">Food</option>
              <option value="HEALTH">Health</option>
              <option value="MUSIC">Music</option>
              <option value="RESTURANT">Resturant</option>
              <option value="SPA">Spa</option>
              <option value="SPORT">Sport</option>
              <option value="TRAVELING">Traveling</option>
            </select>
          </form>
        </td>
        <td>
          <form>
            <label for="price" class="formLabel">Max Price</label><br><input type="number" class="forminput" [(ngModel)]="price" name="price" placeholder="100">
          </form>
        </td>
        <td>
          <form>
            <label for="date" class="formLabel">End Date</label><br><input type="date" class="forminput" [(ngModel)]="endDate" name="endDate">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <button class="searchbutton" (click)="searchByType()">Search</button>
        </td>
        <td>
          <button class="searchbutton" (click)="searchByPrice()">Search</button>
        </td>
        <td>
          <button class="searchbutton" (click)="searchByEndDate()">Search</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="coupon" *ngFor="let coupon of coupons">
    <app-coupon [coupon]="coupon" [isCustomer]="isCustomer" [purchased] = "purchased"></app-coupon>
  </div>
</div>
