<!-- <p>company-add-update works!</p> -->
<div class="wrapper">
  <div class="form">
    <form>
      <label class="formlabel" for="name">Company Name</label><input class="forminput" type="text" [(ngModel)]="company.name">
      <label class="formlabel" for="email">Email</label><input class="forminput" type="email" [(ngModel)]="company.email">
      <label class="formlabel" for="password">Password</label><input class="forminput" type="password" [(ngModel)]="company.password">
      <button type="submit" class="submitbutton" (click)="submitChanges()">Submit</button>
    </form>
  </div>
  <!-- <div *ngIf="!add" class="wrapper">
    <div class="form">
      <form>
        <label class="formlabel" for="name">Company Name</label><input class="forminput" type="text" [(ngModel)]="company.name">
        <label class="formlabel" for="email">Email</label><input class="forminput" type="email" [(ngModel)]="company.email">
        <label class="formlabel" for="password">Password</label><input class="forminput" type="password" [(ngModel)]="company.password">
        <button type="submit" class="submitbutton" (click)="submitChanges()">Submit</button>
      </form>
    </div>
  </div>
</div> -->
