<div *ngIf="!submitted" class="loginForm">
  <form #formInfo="ngForm">
      <div class="header">Log-in</div>
        <label for="email" class="formLabel">Email</label>
        <input [(ngModel)]="email" type="email" class="forminput email" required name="name" id="email"/>
        <!-- <td>Email is {{email}}</td> -->
        <label for="password" class="formLabel">Password</label>
        <input [(ngModel)]="password" type="text" class="forminput password" required  name="password" id="password"/>
        <label for="clientType" class="formLabel">Client Type</label>
        <select [(ngModel)]="clientType" name="clientType" id="clientType" class="forminput clientType">
          <option value="ADMIN">Admin</option>
          <option value="COMPANY">Company</option>
          <option value="CUSTOMER">Customer</option>
        </select>
        <button class="submitbutton" (click)="onSubmit()" [disabled] = "!formInfo.form.valid">Submit</button>
  </form>
</div>
<div *ngIf="submitted" class="userLoggedIn">
  <table>
    <tr>
      <td colspan="2"><span class="loggedText">Logged in</span></td>
    </tr>
    <tr>
      <td><span class="loggedText">Email:</span></td>
      <td>
        <span class="loggedText">{{ this.email }}</span>
      </td>
    </tr>
    <tr>
      <td colspan='2'><button (click)="logout()">Logout</button></td>
    </tr>
  </table>
</div>
