<div *ngIf="add" class="addForm">
  <div class="form">
      <form>
          <label for="name" class="formlabel">Name</label><input class="forminput" type="text" [(ngModel)]="customer.name" name="name">
          <label for="email" class="formlabel">Email</label><input class="forminput" type="email" [(ngModel)]="customer.email" name="email">
          <label for="password" class="formlabel">Password</label><input class="forminput" type="password" [(ngModel)]="customer.password" name="password">
          <button type="submit" class="submitbutton" (click)="submitChanges()">Submit</button>
        </form>
    </div>
</div>
<div *ngIf="!add" class="updateForm">
  <img src="assets/images/Loading_Infinity.gif" *ngIf="!customer">
  <div class="form" *ngIf="customer">
    <form>
      <label for="name" class="formlabel">Name</label><input class="forminput" type="text" [(ngModel)]="customer.name" name="name">
      <label for="email" class="formlabel">Email</label><input class="forminput" type="email" [(ngModel)]="customer.email" name="email">
      <label for="password" class="formlabel">Password</label><input class="forminput" type="password" [(ngModel)]="customer.password" name="password">
      <button type="submit" class="submitbutton" (click)="submitChanges()">Submit</button>
    </form>
  </div>
</div>
