  <div [class]="add ? 'addForm' : 'updateForm'">
    <img src="assets/images/Loading_Infinity.gif" *ngIf="!customer">
    <div class="form" *ngIf="customer">
      <form #formInfo="ngForm">
        <label for="firstname" class="formlabel">First Name</label><input class="forminput" type="text" [(ngModel)]="customer.firstName" name="firstName">
        <label for="lastname" class="formlabel">Last Name</label><input class="forminput" type="text" [(ngModel)]="customer.lastName" name="lastName">
        <label for="email" class="formlabel">Email</label><input class="forminput" type="email" [(ngModel)]="customer.email" required name="email" ngmodel email = "true">
        <label for="password" class="formlabel">Password</label><input class="forminput" type="password" [(ngModel)]="customer.password" required name="password">
        <p *ngIf="formInfo.form.invalid && formInfo.form.dirty" class="warning">Please provide a valid email and password</p>
        <button type="submit" class="submitbutton" (click)="submitChanges()">Submit</button>
      </form>
    </div>
  </div>
  