<!-- <p>page404 works!</p> -->
<div class="page">
  <!-- <div class="container">
    <h3>404 Page not found</h3>
  </div> -->
  <img src="assets/images/404Error.png">
  <div class="container" style="background-color:white">
    <hr class="line">
    <h2><b>404 ERROR</b></h2>
    <hr class="line">
    <p>Oops! Looks like you're in a page that doesn't exist.</p>
    <p>Don't worry - We've got you covered.</p>
  </div>
  <div class="container">
    <p><span class="text">Just click the button below</span></p>
    <button class="button">Go Back Home</button>
  </div>
</div>
