<div>
  <table>
    <tr>
      <td class="title">Customer id</td>
      <td class="details">{{customer.id}}</td>
    </tr>
    <tr>
      <td class="title">Name</td>
      <td class="details">{{customer.name}}</td>
    </tr>
    <tr>
      <td class="title">Email</td>
      <td class="details">{{customer.email}}</td>
    </tr>
    <tr>
      <td><button class="buttonupdate" a routerLink='{{url}}'>Update</button></td>
      <!-- TODO: Need to decide how "Delte" button should work.
                   For now did it with a "deleteCustomer" method in ts file. -->
      <td><button class="buttondelete" (click)="promptMessage()">Delete</button></td>
    </tr>
  </table>
</div>
