<!-- <p>coupon-add-update works!</p> -->
<div *ngIf="add" class="wrapper">
    <div class="form">
        <form>
            <label  class="formlabel" for="title">Title</label><input class="forminput" type="text" [(ngModel)]="coupon.title" name="title" >
            <label  class="formlabel" for="message">Message</label><input class="forminput" type="text" [(ngModel)]="coupon.message" name="message" >
            <label  class="formlabel" for="amount">Stock</label><input class="forminput" type="number" [(ngModel)]="coupon.amount" name="amount">
            <label  class="formlabel" for="price">Price</label><input class="forminput" type="number" [(ngModel)]="coupon.price" name="price">
            <label  class="formlabel" for="startdate">Start Date</label><input class="forminput" type="date" [(ngModel)]="coupon.startDate" name="startDate">
            <label  class="formlabel" for="enddate">End Date</label><input class="forminput" type="date" [(ngModel)]="coupon.endDate" name="endDate">
            <label  class="formlabel" for="coupontype">Type</label>
            <select class="forminput"  [(ngModel)]="coupon.type" name="type">
              <option value="couponType.AUTOMOBILE">Automobile</option>
              <option value="couponType.CAMPING" >Camping</option>
              <option value="couponType.COMPUTER">Computer</option>
              <option value="couponType.ELECTRICITY">Electricity</option>
              <option value="couponType.FASHION">Fashion</option>
              <option value="couponType.FOOD">Food</option>
              <option value="couponType.HEALTH">Health</option>
              <option value="couponType.MUSIC">Music</option>
              <option value="couponType.RESTURANT">Resturant</option>
              <option value="couponType.SPA">Spa</option>
              <option value="couponType.SPORTS">Sports</option>
              <option value="couponType.TRAVELING">Traveling</option>
            </select>
            <label  class="formlabel" for="image">Image URL</label><input class="forminput" type="text" [(ngModel)]="coupon.image" name="image">
            <button type="submit" class="submitbutton" (click)="submitChanges()">Submit</button>
        </form>
      </div>
</div>
<div *ngIf="!add" class="wrapper">
    <img src="assets/images/Loading_Infinity.gif" *ngIf="!coupon">
    <div class="form" *ngIf="coupon">
        <form>
            <label  class="formlabel" for="title">Title</label><input class="forminput" type="text" [(ngModel)]="coupon.title" name="title" >
            <label  class="formlabel" for="message">Message</label><input class="forminput" type="text" [(ngModel)]="coupon.message" name="message" >
            <label  class="formlabel" for="amount">Stock</label><input class="forminput" type="number" [(ngModel)]="coupon.amount" name="amount">
            <label  class="formlabel" for="price">Price</label><input class="forminput" type="number" [(ngModel)]="coupon.price" name="price">
            <label  class="formlabel" for="startdate">Start Date</label><input class="forminput" type="date" [(ngModel)]="coupon.startDate" name="startDate">
            <label  class="formlabel" for="enddate">End Date</label><input class="forminput" type="date" [(ngModel)]="coupon.endDate" name="endDate">
            <label  class="formlabel" for="coupontype">Type</label>
            <select class="forminput"  [(ngModel)]="coupon.type" name="type">
              <option value="couponType.AUTOMOBILE">Automobile</option>
              <option value="couponType.CAMPING">Camping</option>
              <option value="couponType.COMPUTER">Computer</option>
              <option value="couponType.ELECTRICITY">Electricity</option>
              <option value="couponType.FASHION">Fashion</option>
              <option value="couponType.FOOD">Food</option>
              <option value="couponType.HEALTH">Health</option>
              <option value="couponType.MUSIC">Music</option>
              <option value="couponType.RESTURANT">Resturant</option>
              <option value="couponType.SPA">Spa</option>
              <option value="couponType.SPORTS">Sports</option>
              <option value="couponType.TRAVELING">Traveling</option>
            </select >
            <label  class="formlabel" for="image">Image URL</label><input class="forminput" type="text" [(ngModel)]="coupon.image" name="image">
            <!-- TDOD (Yaniv) Add file upload mechnincs-->
            <button type="submit" class="submitbutton" (click)="submitChanges()">Submit</button>
        </form>
      </div>
</div>
